<h1 class="propertyTitle">Image</h1>
<div class="items" >
  <input type="text" class="imgSrc" value="{{imgSrc}}" />
  <button class="fileInputWrapper">Browse...</button>
  <input type="file" value="Select an image" class="fileInput" accept="image/*" />
</div>
