<div>
  <span>Image src:</span> <input type="text" class="imgSrc" value="{{imgSrc}}" />
  <span>Image file:</span><input type="file" value="Select an image" class="fileInput" accept="image/*" />
</div>
