<div>
  <div class="tools">
    <span class="name">
      <i>{{id}} {{zIndex}}</i>
    </span>
    <button class="delete">
      X
    </button>
    <button class="up">
      up
    </button>
    <button class="down">
      down
    </button>
  </div>

  <div class="content">

  <img src="{{imgSrc}}" alt="" />

  </div>

</div>
