
<p class="help">
Set box layering by dragging them to desired order.
</p>
<ul class="layersSortable" >
{{#each boxes}}
  <li class="{{this.type}}" data-id="{{this.id}}" >
  <div class="nameText" title="{{this.name}}">{{this.name}}</div>
  <div class="tools">
    <div class="visible fancyTooltip"  title="Hide box temporarily" >
      <input type="checkbox"  {{#if this.visible}}checked{{/if}} />
    </div>
    <button class="delete fancyTooltip" title="Delete box permanently" >X</button>
  </div>
  </li>
{{/each}}
</ul>



