
<p class="help">
Set box layering by dragging them to desired order.
</p>
<ul class="layersSortable" >
{{#each boxes}}
  <li class="{{this.type}}" data-id="{{this.id}}" title="{{this.name}}">
  <div class="nameText">{{this.name}}</div>
  <div class="tools">
    <div class="visible">
      <input type="checkbox"  {{#if this.visible}}checked{{/if}} />
    </div>
    <button class="delete">X</button>
  </div>
  </li>
{{/each}}
</ul>



