
<ul class="layersSortable" >
{{#each boxes}}
  <li class="text" id="{{this.cid}}">{{this.name}} {{this.zIndex}}<button class="delete">X</button></li>
{{/each}}
</ul>
<div class="layerProperties">
  <div>
  <h2>Layer properties:</h2>
  <figure>
    <canvas class="colorPicker"></canvas>
    <span>Background color</span>
  </figure>
    <figure>
    <canvas class="colorPicker"></canvas>
    <span>Font color</span>
  </figure>
  <figure>
    <canvas class="colorPicker"></canvas>
    <span>Border color</span>
  </figure>
  <figure>
    <div class="slider" id="fontSizeSlider"></div>
    <span id="fontSizeNumber">Font size: 12px</span>
  </figure>
  <figure>
    <div class="slider" id="borderRadiusSlider"></div>
    <span id="borderRadiusSliderNumber">Border radius: 0px</span>
  </figure>
    <hr>
  </div>
</div>



