
<p class="help">
Set box layering by dragging them to desired order.
</p>
<ul class="layersSortable" >
{{#each boxes}}
  <li class="{{this.type}}" data-id="{{this.id}}">{{this.name}}<button class="delete">X</button></li>
{{/each}}
</ul>



