<div class="content">

<div class="views">
<!--subviews will be rendered here -->
</div>
<button class="ok">ok</button>

{{#if hideCancel}}
– or –
<button class="cancel">cancel</button>
{{/if}}
</div>
