<div>
  <div class="tools">
    <span class="name">
      <i>{{name}} {{zIndex}}</i>
    </span>
    <button class="delete">
      X
    </button>
    <button class="up">
      up
    </button>
    <button class="down">
      down
    </button>
  </div>

  <div class="content">
      XXX
  </div>

</div>
