
<nav>
  <a class="active" href="" data-subview="toolbox properties" title="Add elements">Add elements</a>
  <a href="" data-subview="layers" title="Layers">Layers</a>
</nav>
<div class="scroll"></div>
