
<div>
  <button class="closeOpenMediamenuBtn open">Close</button>
  <button class="mediamenuBtn">Mediavalikko</button>
  <nav>
    <a href="" data-subview="toolbox" >Add objects</a>
    <a class="active" href="" data-subview="layers" >Layers</a>
  </nav>
  <div class="media"></div>
</div>
