
<div>
  <button class="closeOpenMediamenuBtn open">Close</button>
  <button class="mediamenuBtn">Mediamenu</button>
  <nav>
    <a href="" data-subview="toolbox" title="Add elements">Add elements</a>
    <a class="active" href="" data-subview="layers" title="Layers">Layers</a>
  </nav>
  <div class="media"></div>
  <div class="boxProperties"></div>
</div>
