<div>

  <div class="tools">
    <button class="edit">
      edit
    </button>
    <button class="delete">
      delete
    </button>
    <button class="up">
      up
    </button>
    <button class="down">
      down
    </button>
  </div>

  <div class="content">

  <span>{{text}}</span>

  </div>

</div>
