<div>
  <div class="tools">
    <span class="name">
      <i>{{name}}</i>
    </span>
    <button class="edit">
      {{ t "textbox.edit" }}
    </button>
    <button class="delete">
      X
    </button>
    <button class="up">
      up
    </button>
    <button class="down">
      down
    </button>
  </div>

  <div class="content">

  <span>{{{text}}}</span>

  </div>

</div>
