<p class="help">
Drag items below to edit area to create new elements.
</p>

<div class="textbox draggable" data-boxtype="text" title="Drag&Drop TextBox">TextBox</div>
<div class="plainbox draggable" data-boxtype="plain" title="Drag&Drop PlainBox">PlainBox</div>
<div class="imagebox draggable" data-boxtype="image" title="Drag&Drop ImageBox">ImageBox</div>
<span class="dragdrop_image_from_computer" title="Drag&Drop images from your computer"> Drag&Drop images from your computer</span>
