<!--TODO-->
<div class="addElements">

<div class="textbox droppable" data-boxtype="text" title="Drag&Drop TextBox">TextBox</div>
<div class="plainbox droppable" data-boxtype="plain" title="Drag&Drop PlainBox">PlainBox</div>
<div class="imagebox droppable" data-boxtype="image" title="Drag&Drop ImageBox">ImageBox</div>
<span class="dragdrop_image_from_computer" title="Drag&Drop images from your computer"> Drag&Drop images from your computer</span>
</div>
