<!--TODO-->
<div class="addElements">

<div class="textbox" data-boxtype="text" title="Drag&Drop TextBox">TextBox</div>
<div class="plainbox" data-boxtype="plain" title="Drag&Drop PlainBox">PlainBox</div>
<div class="imagebox" data-boxtype="image" title="Drag&Drop ImageBox">ImageBox</div>
<p><span>Drag & Drop elements to the pasteboard</span></p>
<span class="dragdrop_image_from_computer" title="Drag&Drop images from your computer"> Drag&Drop images from your computer</span>
</div>
