<!--TODO-->
<div class="addElements">

<div class="textbox" data-boxtype="text">TextBox</div>
<div class="plainbox" data-boxtype="plain">PlainBox</div>
<div class="imagebox" data-boxtype="image">Imagebox</div>

</div>
