

<span class="loadedBytes">
{{loadedBytes}}
</span>

<span class="uploadSep">/</span>

<span class="totalBytes">
{{totalBytes}} bytes
</span>


<span class="totalBytes">
Speed: {{speed}}kB/s
</span>

{{error}}
