
<form action="" method="post" accept-charset="utf-8">


<h2>Pahvi name</h2>

{{#if nameError}}
{{nameError}}
{{/if}}

<input type="text" name="name" placeholder="my presentation" value="{{name}}" />


<h2>Email</h2>

{{#if emailError}}
<span class="error"> {{emailError}} </span>
{{/if}}

<p>
  <input type="text" name="email" placeholder="name@mail.com" value="{{email}}" />
  <span class="generatedId"><!-- js will render --></span>
</p>

<p>

Pahvi edit-url will be sent to this email address. We use the email
address only for that unless you check the box below.

</p>

<p>
  <input type="checkbox" id="contact" name="contact" value="ok" >
  <label for="contact" >
  I want to receive Pahvi updates via email
  </label>
</p>

<p>
  <button class="submit">Create new Pahvi!</button>
  <img class="spinner" src="/img/spinner.gif" alt="" />
</p>



</form>
