
<form action="." method="post" accept-charset="utf-8">



<h2>Pahvi name</h2>
<input type="text" name="name" />


<h2>Email</h2>

<p>
  <input type="text" name="name" />*
  <span class="generatedId"><!-- js will render --></span>
</p>

<p>
Pahvi admin-url will be sent to this email address.

</p>

<p>
  <input type="checkbox" id="contact" >
  <label for="contact" >
  I want to receive Pahvi updates via email
  </label>
</p>

<p>
* required
</p>
</form>
