
// Styles that are shared between Pahvi and its remote controller

@import 'pahvicolors'


.noty_message
  a
    color #DDD
  small
    font-size 80%
  pre
    font-size 8pt

.noty_bar.alert
  background-color pahvilightbrown
  color white


// Styles for the Pahvi logo
header
  position fixed
  z-index 13
  background url("/img/pahvi-bg.jpg") repeat 0 0 scroll
  width 100%
  height 60px
  border-bottom 1px solid black
  div.pahviLogo
    margin-left 10px
    margin-top 5px
  h1,h2,h3
    color pahvibrown
    line-height 1
    text-transform uppercase
  div.pahviLogo
    h1
      text-shadow  0 2px 4px pahviyellow, 0 -1px 2px pahvigray, -1px 0 0 pahvicream, 1px 0 0 pahvicream
      font-size 18pt
    h1,h2,h3
      color pahvilightbrown
    line-height 1
    float left
    text-align center
    a
      text-decoration none


.opinsysLink
  position absolute
  left 10px
  top 36px
  text-transform uppercase
  font-weight bold
  opacity 0.5
  &, a, a:visited
    color gray
    text-decoration none
  img
    position relative
    top 4px
