
// Styles that are shared between Pahvi and its remote controller

@import 'pahvicolors'


.noty_message
  a
    color #DDD
  small
    font-size 80%
  pre
    font-size 8pt

.noty_bar.alert
  background-color pahvilightbrown
  color white


// Styles for the Pahvi logo
header
  position fixed
  z-index 13
  background url("/img/pahvi-bg.jpg") repeat 0 0 scroll
  width 100%
  border-bottom 1px solid black
  h1,h2,h3
    color pahvibrown
    line-height 1
    text-transform uppercase
  hgroup.pahviLogo
    h1
      text-shadow  0 2px 4px pahviyellow, 0 -1px 2px pahvigray, -1px 0 0 pahvicream, 1px 0 0 pahvicream
    h1,h2,h3
      color pahvilightbrown
    line-height 1
    float left
    margin 0 0 0 0.5em
    text-align center
    width 150px
    a
      text-decoration none

  h1.pahviName
    font-size 1em
    text-shadow 0 -1px 1px pahvilightbrown
    margin-top 5px

  h2,h3
    font-size 1.0em
  h3
    left 160px
    position fixed
    top 35px
  h4
    color pahvilightbrown
    font-size 0.65em
    left 13px
    position absolute
    top 55px

  figure
    height 20px
    left 205px
    margin 0
    padding 0.5em 0 0.25em 0.5em
    position absolute
    top 25px
    width 100px
    a
      background url("/img/opinsys_logo.png") no-repeat 0 0 transparent
      display block
      text-indent -9999px
