
body
  background url("/img/pahvi-bg.jpg") repeat 0 0 scroll

header
  height 60px
  padding 0.5em 0 0.25em
  width 100%
  h1,h2,h3
    color pahvibrown
    line-height 1
    text-transform uppercase
  hgroup.pahviLogo
    h1
      text-shadow  0 2px 4px pahviyellow, 0 -1px 2px pahvigray, -1px 0 0 pahvicream, 1px 0 0 pahvicream
    h1,h2,h3
      color pahvilightbrown
    line-height 1
    float left
    margin 0 0 0 0.5em
    text-align center
    width 150px
    a
      text-decoration none

  h1.pahviName
    font-size 1em
    left 210px
    position absolute
    text-shadow 0 -1px 1px pahvilightbrown
    width 25%
  h2,h3
    font-size 0.8em
  h3
    left 160px
    position absolute
    top 40px
  h4
    color pahvilightbrown
    font-size 0.65em
    left 20px
    position absolute
    top 55px

  figure
    height 20px
    left 205px
    margin 0
    padding 0.5em 0 0.25em 0.5em
    position absolute
    top 40px
    width 100px
    a
      background url("/img/opinsys_logo.png") no-repeat 0 0 transparent
      display block
      text-indent -9999px
