@import 'nib'
bordergray = #c2c2c2
fontc = #fffdf1
pahvicream = #f5f4f0
pahvigray = #363636
pahvigreen = #339900
pahvired = #CD8989
html
  overflow hidden
body
  font 1em/1.4 "Helvetica Neue","Lucida Grande", tahoma, arial, sans-serif

h1,h2
  margin 0
  padding 0
h1
  font-size 3em
h2
  font-size 1.5em

hr
  clear both
  border none
  float none
  height 0px
  margin 0
  width 100%
button:hover
  cursor pointer
.container
  height 100%
  margin 0 auto
  max-width 1920px
  min-width 800px
  position relative
  width 100%
  button
    background-color pahvicream
    border none
    font 300 0.7em/1 tahoma, sans-serif
    height 60px
    margin 0
    padding 0 0.2em 0 50px
    text-align left
    text-transform uppercase
    word-wrap break-word
    width 140px
  header
    background url("/img/header-bg.jpg") repeat 0 0 scroll
    height 65px
    padding 1em 1em 0 1em
    position relative
    width 100%
    hgroup
      margin -0.5em 0
      text-align center
      width 150px
    h1,h2
      color fontc
      font-family "Trebuchet MS", Helvetica, sans-serif
      line-height 1
      text-shadow 0 -2px 4px pahvigray
      text-transform uppercase
    h2
      font-size 0.8em 
  .wrap
    height 100%
    width 100%
    .pasteboard
      background url("/img/pahvi-bg.jpg") repeat 0 0 scroll
      border solid 1px pahvigray
      height 100%
      margin 0
      position relative
      width 100%
      z-index 1
      .textBox.ui-draggable-dragging
        border dotted 2px black !important
        box-shadow 0px 0px 10px black
        cursor move !important
      .textBox.ui-draggable
        cursor pointer
      .menu
        margin 0 5px 0
        position absolute
        right 30%
        top -60px
      .modeToggle
        background url("/img/iconset.png") no-repeat 10px -635px pahvicream
        border-bottom 1px solid pahvigray
        &:hover
          background-position 10px -690px
      .tools
        background-color #f3f3f3
        display block
        height 30px
        margin 0
        position relative
        visibility hidden
        width 100%
      .content
        padding .5em 1em 1em
      .textBox
        border 1px solid black


      .textBox .tools
        visibility hidden
        button
          background-color pahvigray
          border none
          color fontc
          position absolute
        .edit
          border-radius 10px
          height 25px
          padding 0.2em 1em
          right 2em
          top 2px
          width auto
          white-space nowrap
          &:hover
            background-color pahvigreen
        .delete
          border 2px solid fontc
          border-radius 20px
          font-size 0.8em
          font-weight 600
          height 30px
          line-height 1
          padding 0
          right -15px
          text-align center
          top -15px
          width 30px
          &:hover
            background-color pahvired
        .name
          margin-left 0.5em
        .down, .up
          height 25px
          padding 0
          right -15px
          text-indent -9999px
          width 30px
        .up
          background url("/img/iconset.png") no-repeat 0 -270px transparent
          top 30px
          &:hover
            background url("/img/iconset.png") no-repeat 0 -305px transparent
        .down
          background url("/img/iconset.png") no-repeat 0 -340px transparent
          top 60px
          &:hover
            background url("/img/iconset.png") no-repeat 0 -560px transparent

      // We need to use class hovering instean of meta selector :hover so that
      // we can also "hover" programatically using JavaScript
      .textBox.hovering .tools
        visibility visible

    .mediamenu.open
      .closeOpenMediamenuBtn
        background-position 10px -470px
        &:hover
          background-position 10px -505px
    .mediamenu.closed
      .closeOpenMediamenuBtn
         background-position 10px -400px
         &:hover
          background-position 10px -435px


    .mediamenu
      background pahvicream repeat 0 0 scroll
      border-top 1px solid pahvigray
      border-left 1px solid pahvigray
      height 100%
      position absolute
      right 0
      top 0
      width 30%
      z-index 9999
      .closeOpenMediamenuBtn
        background-color rgba(255,253,241,0.7)
        background-image url("/img/iconset.png") 
        background-repeat no-repeat 
        border-top-left-radius 10px 15px 
        border-bottom-left-radius 10px 15px
        left -55px
        height 35px
        position absolute
        text-indent -9999px
        top 40%
        width 55px
      nav
        height 50px
        margin 0 0 0 5px
        width 100%
        a
          background-color pahvicream
          border-left solid 1px bordergray
          border-top solid 1px bordergray
          border-right solid 1px bordergray
          float left
          height 50px
          text-indent -9999px
          width 50px
          &:first-child
            background url("/img/iconset.png") no-repeat 10px 10px transparent
            &:hover
              background url("/img/iconset.png") no-repeat 10px -35px white
          &:nth-child(2)
            background url("/img/iconset.png") no-repeat 10px -80px transparent
            &:hover
              background url("/img/iconset.png") no-repeat 10px -125px white
          &:nth-child(3)
            background url("/img/iconset.png") no-repeat 10px -170px transparent
            &:hover
              background url("/img/iconset.png") no-repeat 10px -215px white
          &:hover, &.active
            background-color white
      .mediamenuBtn
        background url("/img/iconset.png") no-repeat 10px -535px pahvicream
        left 5px
        position absolute
        top -60px
      .media
        background-color #FFFFFF
        border-top solid 1px bordergray
        display block
        height 100%
        width 100%

.layersSortable .hovering
  color red

// Testing only
.textBox
  background-color white

.hallotoolbar
  z-index 2001

body.presentation
  .textBox .tools
    display none !important


.box
  position absolute

// Make sure that in edit mode the selected box is always on top regardless
// the layer positioning so that it is possible to edit it.
.editing
  z-index 2000 !important
