
@import 'nib'


// Testing only
.textBox
  width 500px
  background-color white

.hallotoolbar
  z-index 2000

body.presentation

  .textBox .tools
    display none


.textBox
  border 1px solid black
  padding-left 1em
  padding-right 1em
  padding-bottom 1em
  .tools
    margin-bottom 1em

.textBox.ui-draggable
  cursor pointer

.textBox.ui-draggable-dragging
  cursor move
  box-shadow 0px 0px 10px black
