
@import 'nib'


// Positioning

.widgets
  div
    position absolute
    width 30%
    textarea
      width 35em
      height 20em

  .preview
    right 5em





// Styling

.widgets
  .preview
    padding 3em
    border 1px solid black
    border-radius 50px
