
bordergray = #c2c2c2
pahviyellow = #fffdf1
pahvicream = #f5f4f0
pahvigray = #363636
pahvilightgray = #f3f3f3
pahvibrown = rgb(130,70,50)
pahvilightbrown = #b7a284
pahvigreen = #339900
pahvilightgreen = #d6f3c7
pahvired = #FF530D
pahviblue = #A2D7F5 !important
pahviurlblue = #0D8CFF
