
@import 'nib'
@import 'pahvicolors'

body
  background-color pahvicream

h1
  font-size 3em

.remoteItem
  cursor pointer
  background-color pahvilightbrown
  margin 1px
  padding 1em
  &.selected
    background-color darken(pahvilightbrown, 20%)


