@import 'nib'
bordergray = #c2c2c2
pahviyellow = #fffdf1
pahvicream = #f5f4f0
pahvigray = #363636
pahvilightgray = #f3f3f3
pahvibrown = rgb(130,70,50)
pahvilightbrown = #b7a284
pahvigreen = #339900
pahvilightgreen = #d6f3c7
pahvired = #FF530D
pahviblue = #A2D7F5 !important
pahviurlblue = #0D8CFF

body
  background url("/img/pahvi-bg.jpg") repeat 0 0 transparent
  color #363636
  font 1em/1.4 "Helvetica Neue","Lucida Grande", tahoma, arial, sans-serif
  .wrap
    background-clip padding-box
    background-color #fffdf1
    border 10px solid rgb(130,70,50)
    border 10px solid rgba(130,70,50,0.25)
    box-shadow 0 2px 6px #363636, -2px 0 10px #363636, 2px 0 10px #363636
    margin 2em auto
    padding 1em 2.5em 2em
    position relative
    width 550px

h1,h2
  margin 0
  padding 0
  
h1
  color pahvilightbrown
  font-size 3em
  font-weight 800
  text-shadow  0 2px 4px pahviyellow, 0 -1px 2px pahvigray, -1px 0 0 pahvicream, 1px 0 0 pahvicream
  span
    font-size 0.5em
h2
  font-size 1.2em
  margin 0.5em 0 0 0
p
  font-size 0.8em

a
  text-decoration none
  &:hover
    color #196fbc
  
.required_sign, .required
  color #FF530D
.required_sign
  font-size 3.5em
  position absolute
  right -35px
  top 5px

form
  p
    margin 0 0 1em 0
    position relative
  input[type="text"]
    background linear-gradient(top, #f4f4f4, #fff)
    border 1px solid gray
    border-radius 4px
    box-shadow inset 0 1px 3px #686868, 1px 0 1px #ededed, -1px 0 1px #ededed
    font-size 14px
    height 30px
    padding 0.5em 0.25em
    width 100%
    &:focus
      border 2px solid #A2D7F5
  .error
    color red
    font-size small
  .spinner
    visibility hidden

button
  background-color #ccc
  background-image linear-gradient(top, #fff, #cccccc)
  border 1px solid #c2c2c2
  border-radius 3px
  color pahvigray
  height 50px
  line-height 1
  margin-top 1em
  padding 8px 0
  text-align center
  text-shadow 0 1px 0 #eee
  text-transform uppercase
  width 150px
  &:hover
    background-color #dddddd
    background-image linear-gradient(top, #dddddd, #bbbbbb)
    border 1px solid #bbb
    border-bottom 1px solid #999
    cursor pointer
    text-shadow 0 1px 0 #ddd
  &:active
    border 1px solid #aaa
    border-bottom 1px solid #888
    box-shadow inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee
