<div class="container">
  <header></header>
  <div class="wrap">
    <div class="pasteboard"></div>
    <div class="mediamenu">
      <nav>
        <a href="#">Add images</a> |
        <a href="#">Add text</a>
      </nav>
    </div>
  </div>
</div>





