
<div class="container">
  <header>
    <hgroup>
      <h1>Pahvi</h1>
      <h2>Koosta mediasi</h2>
    </hgroup>
  </header>
  <div class="wrap">

    <div class="pasteboard">
      <div class="menu"></div>
      <div class="pahvi"></div>
    </div>
    <div class="mediamenu">
      <button class="closeMediamenuBtn">Close</button>
      <button class="mediamenuBtn">Mediavalikko</button>
      <nav>
        <a href="#">Add images</a>
        <a class="active" href="#">Add text</a>
        <a href="#">Layers</a>
      </nav>
      <div class="media"></div>
    </div>
  </div>

</div>






