{{#if authKey}}
<script type="text/javascript" charset="utf-8">
  window.AUTH_KEY = "{{authKey}}";
</script>
{{/if}}
<div class="container">
  <header>
    <hgroup>
      <h1>Pahvi</h1>
      <h3>Beta</h3>
      <h2>Koosta mediasi</h2>
    </hgroup>
    <figure>
      <a href="http://opinsys.fi" title="Opinsys Oy">Opinsys</a>
    </figure>
  </header>
  <div class="wrap">

    <div class="pasteboard">
      <div class="menu"></div>
      <div class="pahvi"></div>
    </div>

    <div class="mediamenu open">
    </div>

  </div>
</div>
