<!doctype html>
<html>
<head>
  <title>Pahvi - Making presentations together</title>
  {{{googleAnalytics}}}

  {{{ renderStyleTags "welcome" }}}
  {{{ renderScriptTags "welcome" }}}

  {{{clientTemplate "welcomeform"}}}
</head>

<body>
  <a href="https://github.com/opinsys/pahvi">
    <img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" />
  </a>

<div class="wrap">
<div style="border: 1px solid red;padding: 10px;">
  <div style="color: red">
    <b>Note for earlier users in finnish schools:</b>
    <p>
      <b>pahvidemo.opinsys.fi</b> on päivitetty! Tästä johtuen aiemmin Pahvilla luodut kollaasit eivät toimi suoraan samasta osoitteesta. Ennen 7.2.2012 luodut kollaasit ovat kuitenkin käytettävissä osoitteesta <a href="http://pahvidemo2.opinsys.fi/">http://pahvidemo2.opinsys.fi/</a>. Muistathan lisätä osoitteen loppuun oman kollaasisi nimen.
    </p><br />
    <p>
      Lisätietoja Pahvin uusista ominaisuuksista blogissamme: <a href="http://www.opinsys.fi/blogi">http://www.opinsys.fi/blogi</a>
    </p>
  </div>
</div>
<h1>Pahvi <span><a href="http://www.opinsys.fi" title="Opinsys Oy"><img src="/img/opinsys_logo.png" /></a></span></h1>

<p>Simple collaborative presentation tool for class rooms. 

<span>
Read more from our blog in <a href="http://www.opinsys.fi/en/?p=1650">english</a> or in <a href="http://www.opinsys.fi/?p=1685">finnish</a>.
</span>

</p>

<div class="pahviForm">
<!--See views/client/welcomeform.hbs-->
</div>
</div>
</body>


</html>

