<!doctype html>
<html>
<head>
  <title>Pahvi - Making presentations together</title>
  {{{ renderStyleTags "welcome" }}}
  {{{ renderScriptTags "welcome" }}}

  {{{clientTemplate "welcomeform"}}}
</head>

<body>

<h1>Welcome to Pahvi</h1>

<p>plaa plaa</p>

<div class="pahviForm">
<!--See views/client/welcomeform.hbs-->
</div>

</body>


</html>

