<!doctype html>
<html>
<head>
  <title>Pahvi - Making presentations together</title>
  {{{googleAnalytics}}}

  {{{ renderStyleTags "welcome" }}}
  {{{ renderScriptTags "welcome" }}}

  {{{clientTemplate "welcomeform"}}}
</head>

<body>
<div class="wrap">
<h1>Pahvi</h1>

<p>Simple collaborative presentation tool for class rooms</p>

<div class="pahviForm">
<!--See views/client/welcomeform.hbs-->
</div>
</div>
</body>


</html>

